footer {
    padding: 15px;
    background-color: var(--black);
    font-family: var(--title-font);
    color: var(--white);
    font-size: 1.1em;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
}

.footer__containter {
    margin: 2.5px auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.footer-author {
    padding-left: 5px;
    font-weight: bold;
}

.footer-rrss a {
    padding: 5px 10px;
}

.footer-rrss .footer__icon{
    color: var(--yellow);
    transition: all 0.2s ease-in-out;  
}

.footer-rrss .footer__icon:hover  {
    color: white;
    transform: scale(1.3);
}
