nav {
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.1);
}

.nav-link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0 1rem;
  font-family: var(--text-font);
  font-weight: 500;
}

.nav-item > .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.25em;
  width: 100%;
  background-color: var(--yellow);
  background-size: 200% auto;
  transition: all 0.3s;
  transform: translateX(-100%);
}

.nav-item > .nav-link:hover::before,
.nav-item > .nav-link.active::before {
  transform: translateX(0%);
}

.dropdown-toggle {
  font-family: var(--text-font);
  font-weight: 500;
}
.dropdown-menu {
  width: 180px !important;
}
.dropdown-menu > .nav-link {
  padding: 0.5em 1em;
  transition: font-weight 0.3s ease-out;
}

.dropdown-menu > .nav-link:hover {
  font-weight: 700;
}

.myNav-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.myNav-brand__img {
  height: 40%;
  width: 40%;
  object-fit: cover;
  background-color: var(--white);
}

.myNav-link__icon {
  position: relative;
}

/* --------- Responsive --------- */
@media (width > 851px) {
  .loggedMenu > .nav-item { 
    display: none!important;
  }
.loggedMenu > .nav-item:last-child {
  display:block!important;
}

}
@media (max-width: 850px) {
  .navbar-nav,
  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
  }
  .dropdown,
  .dropdown-menu {
    text-align: center !important;
  }
  .dropdown-menu {
    border: none;
    background-color: var(--background);
    width: 100% !important;
    min-width: 0 !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
  }
}
