<header>
    <nav class="myNav">
        <div class="myNav-brand">
            <a routerLink="home">
                <img class="myNav-brand__img" src="../../../assets/img/myBooks_logo.png" alt="Logo"/>
            </a>
        </div>
        <div class="myNav-tabs">
            <a class="myNav-link" routerLink="/home" routerLinkActive="active">Inicio</a>
            <a class="myNav-link" routerLink="/add" routerLinkActive="active">Añadir libro</a>
            <a class="myNav-link" routerLink="/update" routerLinkActive="active">Actualizar libro</a>
            <a class="myNav-link" routerLink="/books" routerLinkActive="active">Libros</a>
            <a class="myNav-link" routerLink="/register" routerLinkActive="active">Registro</a>
            <a class="myNav-link" routerLink="/profile" routerLinkActive="active">Perfil</a>
            <a class="myNav-link myNav-link__icon --login" routerLink="/login" routerLinkActive="active"> Iniciar sesión/registrarse <i class="fa-solid fa-arrow-right-to-bracket"></i></a>
        </div>
    </nav>
</header>