header {
  margin: 0 12em;
}
.myNav {
  background-color: var(--white);
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
  position: sticky;
  offset: 0em;
}

a.myNav-link {
   position: relative;
   display: inline-block;
   overflow: hidden;
   margin: 0 1rem;
   font-family: var(--text-font);
   font-weight: 500;
 }
 

 a.myNav-link::after {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   height: 4px;
   width: 100%;
   background-color:var(--yellow);
   background-size: 200% auto;
   transition: all .3s;
   transform: translateX(-100%);
 }
 
 a.myNav-link:hover::after, a.myNav-link.active::after {
   transform: translateX(0%);
 }
 


.myNav-brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.myNav-brand__img {
  width: 40%;
  height: 40%;
  min-width: 40%;
  min-height: 40%;
  object-fit: cover;
  background-color: var(--white);
}

.myNav-link__icon {
  position: relative;
}
