
    <main class="profile">
        <div class="profile__wrapper">
            <div class="profile__data">
                <div class="profile__picture-wrapper">
                    <img class="profile__picture" [src]="usuario.photo"
                        alt="Imagen de perfil" />
                </div>
                <p id="user" class="profile__user">{{usuario.nombreCompleto()}}</p>
                <table class="profile__content">
                    <tr>
                        <th>Nombre</th>
                        <td>{{usuario.name}}</td>
                    </tr>
                    <tr>
                        <th>Apellidos</th>
                        <td>{{usuario.last_name}}</td>
                    </tr>
                    <tr>
                        <th>Correo electrónico</th>
                        <td>{{usuario.email}}</td>
                    </tr>
                </table>
            </div>
            <div class="profile__edit">
                <form class="form-edit" action="#">
                    <legend class="form-edit__title">Modificar Datos</legend>
                    <input class="form-edit__input" type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="newName"/>
                    <input class="form-edit__input" type="text" name="apellidos" id="apellidos"
                        placeholder="Apellidos" [(ngModel)]="newLast_name"/>
                    <input class="form-edit__input" type="email" name="mail" id="mail"
                        placeholder="Correo electrónico" [(ngModel)]="newEmail"/>
                    <input class="form-edit__input" type="text" name="photo" id="photo"
                        placeholder="URL de la imagen" [(ngModel)]="newPhoto"/>
                    <legend class="form-edit__title">Cambiar la contraseña</legend>
                    <input class="form-edit__input" type="password" name="newPassword" id="newPassword" [(ngModel)]="newPassword"
                        placeholder="Contraseña nueva" />
                    <input class="form-edit__input" type="password" name="newPasswordCheck" id="newPasswordCheck" [(ngModel)]="newPasswordCheck"
                        placeholder="Repite la contraseña nueva" />
                    <legend class="form-edit__title">Introduce la contraseña actual para confirmar</legend>
                    <input class="form-edit__input" type="password" name="password" id="passwordConfirm" [(ngModel)]="passwordConfirm">
                    <div class="form-edit--confirm" [hidden]="isHidden">
                    </div>
                    <button class="form-edit__button" (click)="editUser(newName, newLast_name, newEmail,newPhoto, newPassword, newPasswordCheck, passwordConfirm)">Guardar cambios</button>
                </form>
            </div>
        </div>
    </main>
