<main class="profile py-5">
  <div class="profile__wrapper py-5">
    <div class="profile__data">
      <div class="profile__picture-wrapper">
        <img
          class="profile__picture"
          [src]="user.photo"
          alt="Imagen de perfil"
        />
      </div>
      <p id="user" class="profile__user">{{ user.nombreCompleto() }}</p>
      <p>{{ user.email }}</p>
    
    </div>
    <div class="profile__edit">

    <app-form-profile></app-form-profile> 

      
    </div>
  </div>
</main>
