.profile {

}

.profile__wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 10px;
}

.profile__data,
.profile__edit {
  padding: 10px 20px;
  width: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.profile__edit {
  width: 600px;
}

.profile__picture-wrapper {
  margin-top: -100px;
}

.profile__picture {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 5px solid var(----yellow);
}
.profile__user-name {
  font-family: var(--font-title);
  font-size: 24px;
  font-weight: 700;
  margin: 10px auto;
}

.profile__user-name::before {
  content: "#";
  color: gray;
}

.profile__user {
  font-family: var(--font-title);
  font-size: 18px;
  font-weight: 700;
  margin: 10px auto;
}

