/* * -------------- Barra lateral -------------- */
main {
  min-height: 80vh;
}


/* * -------------- Seccion Principal  -------------- */

/* ? -------------- noBooks  */

.noBooks {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noBooks__img {
  width: 30%;
  margin: 1em;
}

.noBooks__title {
  font-family: var(--text-font);
  margin: .5em;
}

.noBooks__text {
  margin: .5em;
}