<main class="container-fluid row m-0 px-0">
  <div class="col-md-2 submenu p-3">
    <aside class="d-flex flex-column justify-content-center align-items-center">
      <div class="aside__img-container" [style.--photo]="'url(' + user.photo + ')'"></div>
      <div class="d-flex flex-nowrap justify-content-center align-items-center my-3">
        <div class="col-4 separator mx-3"></div>
        <i class="fa-solid fa-book fa-2xl"></i>
        <div class="col-4 separator mx-3"></div>
      </div>
      <ul class="navbar-nav d-flex justify-content-evenly align-items-start px-5">
        <li class="nav-item d-flex justify-content-evenly align-items-center">
          <i class="fa-solid fa-user px-3"></i><a class="nav-link submenu__link" routerLink="/profile"
            routerLinkActive="active">Perfil</a>
        </li>
        <li class="nav-item d-flex justify-content-evenly align-items-center">
          <i class="fa-solid fa-plus px-3"></i>
          <a class="nav-link submenu__link" routerLink="/addBook" routerLinkActive="active">Añadir libro</a>
        </li>
        <li class="nav-item d-flex justify-content-evenly align-items-center coming-feature">
          <i class="fa-solid fa-plus px-3"></i>
          <a class="nav-link submenu__link" routerLink="#" routerLinkActive="active">Crear colección</a>
        </li>
      </ul>
    </aside>
  </div>
  <div class="col-md-10">
    <section class="dashboard" >
      <ng-container *ngIf = "bookList.length; else noBooks">
        <div class="filters d-flex flex-row">
          <div class="switch__wrapper col-md-4 d-flex flex-row justify-content-start py-2">
            <span>Formato de vista:</span>
              <label class="switch">
                <input class="toggle" type="checkbox" [(ngModel)]="toggleView"/>
                <span class="slider"></span>
                <span class="card-side"></span>
              </label>
          </div>
          <div class="col-md-8">
            Filtrar
          </div>
        </div>
        <div>
          <ng-container *ngIf="!toggleView; else bookTable">
            <app-book-card [bookListPadre]="bookList" [userPadre]="user" (deleteBook)="deleteBook($event)" (updateBook)="selectBook($event)"></app-book-card>
          </ng-container>
          <ng-template #bookTable>
            <app-book-table [bookListPadre]="bookList" [userPadre]="user" (deleteBook)="deleteBook($event)" (updateBook)="selectBook($event)"></app-book-table>
          </ng-template>
        </div>
      </ng-container>
      <ng-template #noBooks>
        <div class="noBooks">
          <img src="../../../assets/img/empty list.png" alt="">
        </div>
      </ng-template>
      
      <!-- ng-container: *ngiF = "bookList.length; else addBook-banner"
				1. Banner 
				2. add-book(abre addBook-component en la tercera columna)
					ng-template:
                	A. filtro + dropdown seleccion de vista (cards/tabla)
					B.ng-container: *ngIf= "dropdown == cards; else table" 
				 		app-card (book data + updateBook + deleteBook)
				 		ng-template: app-tabla (book data + updateBook + deleteBook)
				 -->
    </section>
  </div>
</main>
<!-- Offcanvas -->
 <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h3 class="form__title">Editar libro</h3>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="form__container py-5">
                <form class="form" [formGroup]="formBook" (ngSubmit)="onSubmit()">
                    <p class="form__subtitle">Rellena los datos que quieras modificar</p>

                    <div class="form__element form-floating">
                        <input type="text" class="form-control" formControlName="title" placeholder="selectedBook?.title || 'Título'" />
                        <label for="title" class="form__element-label">{{selectedBook?.title || 'Título'}}</label>
                    </div>

                    <div class="form__element form-floating">
                        <input type="text" class="form-control" formControlName="author" placeholder="selectedBook?.author || 'Autor'" />
                        <label for="author" class="form__element-label">{{selectedBook?.author || 'Autor'}}</label>
                    </div>

                    <div class="form__element form-floating">
                        <input type="text" class="form-control" formControlName="photo" placeholder="selectedBook?.photo || 'URL de la imagen'"/>
                        <label for="photo" class="form__element-label">{{selectedBook?.photo || 'URL de la imagen'}}</label>
                    </div>

                    <div class="form__element form-floating">
                        <select class="form-control form-select" formControlName="type" placeholder="selectedBook?.type || 'Tipo de cubierta'">
                            <option value="" disabled selected>{{selectedBook?.type}}</option>
                            <option *ngFor="let typeName of types" [value]="typeName">{{ typeName }}</option>
                        </select>
                        <label for="type" class="form__element-label">{{selectedBook?.type || 'Tipo de cubierta'}}</label>
                    </div>

                    <div class="form__element form-floating">
                        <input type="number" class="form-control" formControlName="price" placeholder="selectedBook?.price?.toString() || 'Precio'" min="0"
                            [ngClass]="{
          'is-invalid':
            (formBook.get('price')?.dirty ||
              formBook.get('price')?.touched) &&
            !formBook.get('price')?.valid
        }" />
                        <div *ngIf="!formBook.get('price')?.valid && (formBook.get('price')?.dirty || formBook.get('price')?.touched)"
                            class="invalid-feedback">
                            El precio  debe ser mayor o igual a 0
                        </div>
                        <label for="price" class="form__element-label">{{selectedBook?.price?.toString() || 'Precio'}}</label>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button class="form__button cta --bg-yellow " type="submit" data-bs-dismiss="offcanvas" aria-label="Close">
                            Editar libro
                        </button>
                    </div>
                </form>
            </div>
  </div>
</div>