.login {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    height: 75vh;
}

.login__form {
    min-width: 20vw;
    max-width: 20vw;
}