/* toggle y filter*/
.switch__wrapper,
.filter__wrapper {
  height: 3em;
}

.switch__wrapper > span,
.filter__wrapper > span {
  padding: 0 0.6em;
  color: var(--black);
  width: 2em;
  height: 2em;
  background-repeat: no-repeat;
  background-size: cover;
}

.--card-view {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 8h4V4H4zm6 12h4v-4h-4zm-6 0h4v-4H4zm0-6h4v-4H4zm6 0h4v-4h-4zm6-10v4h4V4zm-6 4h4V4h-4zm6 6h4v-4h-4zm0 6h4v-4h-4z'/%3E%3C/svg%3E");
}

.--table-view {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyZW0iIGhlaWdodD0iMmVtIiB2aWV3Qm94PSIwIDAgMTUgMTUiPjxwYXRoIGZpbGw9Im5vbmUiIHN0cm9rZT0iY3VycmVudENvbG9yIiBkPSJNLjUgNC41aDE0bS0xMC00djE0bS0zLTE0aDEyYTEgMSAwIDAgMSAxIDF2MTJhMSAxIDAgMCAxLTEgMWgtMTJhMSAxIDAgMCAxLTEtMXYtMTJhMSAxIDAgMCAxIDEtMVoiIHN0cm9rZS13aWR0aD0iMSIvPjwvc3ZnPg==");
}

.switch__wrapper > button,
.filter__wrapper > button {
  border: none;
}

.switch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3.125em;
  height: 1.25em;
  margin: auto 2em;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid var(--black);
  box-shadow: 4px 4px var(--black);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  transition: 0.3s;
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--black);
  border-radius: 5px;
  left: -2px;
  bottom: 2px;
  background-color: var(--white);
  box-shadow: 0 3px 0 var(--black);
  transition: 0.3s;
}

.toggle:checked + .slider {
  background-color: var(--yellow);
}

.toggle:checked + .slider:before {
  transform: translateX(30px);
}

.filter__icon {
  width: 2em;
  height: 2em;
}

.filter__label {
  font-size: 1em;
  font-weight: 700;
}

.filter__toggle > button {
  background:var(--white);
  border: none;
}

/* tabla */
.icons > button {
  border: none;
  background: none;
}
.icons > button > i {
  padding: 0 1em;
  cursor: pointer;
}

/* Grid y Card */
.myCard__container {
  display: grid;
  grid-template-columns: repeat(2, 220px); 
  gap: 1.5rem;
  justify-content: start; 
  width: 100%;
  margin: 2em auto 0
}

.myCard {
  padding: 0.75em 1.5em;
  max-width: 220px;
  max-height: 300px;
  width: 100%;
  height: 20em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 2em;
  border: none;
  -webkit-box-shadow: 0 0 0 0.0625em var(--black);
  box-shadow: 0 0 0 0.0625em var(--black);
  background-image: var(--photo);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
    box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
  transform: translateY(0);

}

.myCard::before {
  content: " ";
  z-index: 99;
  border-radius: 2em;
  transition: all 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
  position: absolute;
  inset: 0;
  bottom: 0;
  left: 0;
}

.myCard:hover {
  color: var(--black);
  -webkit-box-shadow: 0 0 0 0.0625em var(--black), 0 0.375em 0 0 var(--black);
  box-shadow: 0 0 0 0.0625em var(--black), 0 0.375em 0 0 var(--black);
  -webkit-transform: translateY(-0.375em);
  -ms-transform: translateY(-0.375em);
  transform: translateY(-0.375em);
}

.myCard:hover .myCard__data {
  opacity: 1;
  transform: translateY(-0.375em);
}

.myCard:hover::before {
  background-color: var(--white);
}

.myCard__data {
  width: 100%;
  height: 11.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  opacity: 0;
  z-index: 999;
}

.--title {
  text-align: center;
  font-family: var(--text-font);
  padding: 5px 10px;
  font-size: 1.25em;
  font-weight: 800;
  text-transform: uppercase;
  border-bottom: 1px solid var(--black);
}

.--author {
  font-weight: 300;
  font-size: 0.9em;
  padding-right: 1em;
}

.button__container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin-top: auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em;
  border-top: 1px solid var(--black);
}
.button__container > button {
  width: 33%;
  background: none;
  border: 1px solid var(--white);
  border-radius: 15px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.button__container > button:hover {
  transform: scale(1.3);
}

/* Offcanvas movil */

.offcanvas {
height: fit-content;
}

/* ================== Responsive ================ */


/* version mas pequeña de la tarjeta para el movil */
@media (width < 768px) {
  .myCard__container {
    padding-left:2em;
  }
  
  .myCard {
    max-width: 11em;
    max-height: 15em;
  }
  .--title {
    font-size: 1em;
  }
}

/* Tablet: 3 columnas */
@media (min-width: 768px) {
  .myCard__container {
    grid-template-columns: repeat(3, 220px);
  }
}

/* Escritorio: 4 columnas */
@media (min-width: 1200px) {
  .myCard__container {
    grid-template-columns: repeat(4, 220px);
  }
}
