<main>
  <div class="container pt-5">
    <div class="row py-5">
      <div class="col-md-6 text-end">
        <h1 class="home__title">LLega MyBooks</h1>
        <p class="home__text-content">
          Nuestra web es una herramienta online pensada para ayudarte a
          <span class="fw-bold">
            organizar y gestionar tu colección de libros</span>
          de manera cómoda y eficiente.
        </p>
        <p class="home__text-content">
          Con una interfaz intuitiva y funcionalidades avanzadas, podrás
          registrar, clasificar y buscar tus libros en cualquier momento y desde
          cualquier dispositivo.
        </p>

        <h4 class="home__subtitle p-3">
          Que no te lo cuenten,
          <span class="text-uppercase --highlight">¡leelo!</span>
        </h4>
        <button class="cta --bg-yellow-hover" (click)="scrollToRegister()" type="button" href="#register-banner">
          Regístrate
        </button>
      </div>

      <div class="col-md-6">
        <img src="../../../assets/img/composition2.png" alt="" width="80%">
      </div>
    </div>
  </div>

  <div class="container-fluid px-5 py-2 bg-dark">
    <div class="container px-2">
      <div class="row mb-5 py-5 rounded-3">
        <div class="col-md-6 d-flex gap-2">
          <div class="card" style="width: 18rem">
            <div class="card-body text-center rounded-2 shadow">
              <h5 class="card-title">Plan base</h5>
              <span class="badge rounded-pill --bg-yellow my-2">Gratuito</span>
              <p class="card-text">
                Pensado para particulares que quieran organizar su colección
                doméstica
              </p>
              <hr>
            </div>
          </div>

          <div class="card" style="width: 18rem">
            <div class="card-body text-center rounded-2 shadow">
              <h5 class="card-title">Librería</h5>
              
              <p class="card-text">
                La solución para establecimientos. Controla el inventario y
                gestiona pedidos a tus proveedores .
              </p>
              <hr>
              <span class="card-subtitle my-3 fs-3"> 9.99 €/mes</span>
            </div>
          </div>

          <div class="card" style="width: 18rem">
            <div class="card-body text-center rounded-2 shadow">
              <h5 class="card-title">Editorial</h5>
              
              <p class="card-text">
                La herramienta de las pequeñas editoriales. Factura, organiza
                pedidos y consulta estadísticas.
              </p>
              <hr>
              <span class="card-subtitle my-3 fs-3"> 19.99 €/mes</span>
            </div>
          </div>
        </div>

        <div class="col-md-6 text-light">
          <h2 class="home__subtitle">Una solución a medida</h2>
          <p class="home__text-content w-100">
            Esta plataforma está diseñada tanto para
            <span class="fw-bold">particulares</span> que desean llevar el control
            de su biblioteca personal, como para
            <span class="fw-bold">negocios, librerías o pequeñas editoriales</span>
            que necesitan administrar su inventario de forma profesional. Descubre
            cómo
            <span class="fw-bold">nuestra solución puede adaptarse a tus necesidades</span>
            y facilitar la gestión de tu colección, sea cual sea su tamaño.
          </p>
          <div class="d-flex justify-content-around align-items-start px-0">
            <ul class="px-0 align-content-start">
              <li class="pt-1 d-flex align-items-center">
                <div class="check-list"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon--yes" width="17"
                    height="13" viewBox="0 0 17 13">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M16.7072 1.70712L6.00008 12.4142L0.792969 7.20712L2.20718 5.79291L6.00008 9.5858L15.293 0.292908L16.7072 1.70712Z"
                      fill="#000"></path>
                  </svg><span>Agrupa tus libros por colecciones.</span></div>
              </li>
              <li class="pt-1 d-flex align-items-center">
                <div class="check-list"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon--yes" width="17"
                    height="13" viewBox="0 0 17 13">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M16.7072 1.70712L6.00008 12.4142L0.792969 7.20712L2.20718 5.79291L6.00008 9.5858L15.293 0.292908L16.7072 1.70712Z"
                      fill="#000"></path>
                  </svg><span>Añade y modífica tus libros.</span></div>
              </li>
              <li class="pt-1 d-flex align-items-center">
                <div class="check-list"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon--yes" width="17"
                    height="13" viewBox="0 0 17 13">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M16.7072 1.70712L6.00008 12.4142L0.792969 7.20712L2.20718 5.79291L6.00008 9.5858L15.293 0.292908L16.7072 1.70712Z"
                      fill="#000"></path>
                  </svg><span>Añade y modífica tus libros.</span></div>
              </li>
            </ul>
            <ul class="px-0 align-content-start">
              <li class="pt-1 d-flex align-items-center">
                <div class="check-list"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon--yes" width="17"
                    height="13" viewBox="0 0 17 13">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M16.7072 1.70712L6.00008 12.4142L0.792969 7.20712L2.20718 5.79291L6.00008 9.5858L15.293 0.292908L16.7072 1.70712Z"
                      fill="#000"></path>
                  </svg><span>Gestiona el inventario.</span></div>
              </li>
              <li class="pt-1 d-flex align-items-center">
                <div class="check-list"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon--yes" width="17"
                    height="13" viewBox="0 0 17 13">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M16.7072 1.70712L6.00008 12.4142L0.792969 7.20712L2.20718 5.79291L6.00008 9.5858L15.293 0.292908L16.7072 1.70712Z"
                      fill="#000"></path>
                  </svg><span>Gestiona pedidos a proveedores.</span></div>
              </li>
              <li class="pt-1 d-flex align-items-center">
                <div class="check-list"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon--yes" width="17"
                    height="13" viewBox="0 0 17 13">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M16.7072 1.70712L6.00008 12.4142L0.792969 7.20712L2.20718 5.79291L6.00008 9.5858L15.293 0.292908L16.7072 1.70712Z"
                      fill="#000"></path>
                  </svg><span>Simplifica la facturación.</span></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="register-banner" class="container pt-5">
    <app-form-register></app-form-register>
  </div>
</main>