<div class="myCard__container">
    <ng-container *ngFor="let book of bookListPadre">
    <div [id]="'card_' + book.id_book" class="myCard" [style.--photo]="'url(' + book.photo + ')'">

        <div class="row" >
            <div class="myCard__data">
                <h3 class="--title ">{{ book.title }}</h3>
                <p class=" --author">{{ book.author }}</p>
                <p><span class= "--type">{{book.type}}</span><span class="--separator"></span> <span class="--price ">{{ book.price }} €</span></p>
                <div class="button__container">
                      <button class="" type="button" (click)="update(book)">Editar <i class="fa-solid fa-pen-to-square"></i></button>
                      <button class="" type="button" (click)="delete(book)">Eliminar <i class="fa-solid fa-x"></i></button>
                </div>
            </div>
        </div>
    </div>
      </ng-container>
</div>
